
header.header-wrapper .overlay.show {
    display: none;
}

header.header-wrapper nav .search-wrapper .nav-search-input.nav-tools-panel .dropin-input {
  font-size: 14px;
}

header .nav-search-panel .search-bar-result a {
    font-size: 14px;
    font-weight: 500;
}

header .nav-search-panel .search-bar-result .dropin-price-range {
    justify-content: start;
}

header.header-wrapper nav .nav-sections .default-content-wrapper > ul > li .submenu-wrapper li strong {
    font-weight: 400;
}

header.header-wrapper nav .nav-sections .default-content-wrapper > ul > li .submenu-wrapper li strong a {
    font-size: 14px;
    font-weight: 500;
}

header.header-wrapper nav .nav-sections .default-content-wrapper > ul > li .submenu-wrapper > ul > li {
    padding-bottom: 15px;
}

header.header-wrapper nav .nav-sections .default-content-wrapper > ul > li .submenu-wrapper > ul > li .button-container a {
    padding: 0 0 5px;
}

@media (min-width: 900px) {
  header {
    height: 120px;
  }

  header.header-wrapper nav {
    align-items: flex-start;
    height: 120px;
    justify-content: end;
    position: relative;
  }

  header nav .nav-brand {
    position: absolute;
    left: 50%;
    margin-top: 20px;
    transform: translate(-50%);
  }

  header.header-wrapper nav .nav-brand img {
    width: 200px;
    height: auto;
  }

  header.header-wrapper .nav-wrapper {
    border-bottom: none;
  }

  header.header-wrapper nav .nav-tools {
    height: auto;
    padding-top: 20px;
  }

  header.header-wrapper nav .search-wrapper {
    position: absolute;
    left: 32px;
  }

  header.header-wrapper nav .search-wrapper .nav-search-input.nav-tools-panel {
    left: auto;
    right: auto;
  }

  header nav .nav-sections {
      position: absolute;
      bottom: 0px;
      border-top: 1px solid #e7e7e7;
      border-bottom: 1px solid #e7e7e7;
      width: 100%;
      max-width: 1200px;
  }

  header nav .nav-sections .default-content-wrapper > ul > li p a, 
  header nav .nav-sections .default-content-wrapper > ul > li.nav-drop > p {
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      color: #3d3d3d;
      padding: 10px 0;
      display: inline-block;
      letter-spacing: normal;
  }

  header nav .nav-sections .default-content-wrapper > ul > li p a:hover, 
  header nav .nav-sections .default-content-wrapper > ul > li.nav-drop > p:hover {
      color: var(--color-brand-500);
  }

  header nav .nav-sections .default-content-wrapper > ul > li.nav-drop > p > a {
      padding: 0;
  }

  header.header-wrapper nav .nav-sections .default-content-wrapper > ul > li:hover {
      background-color: transparent;
  }

  header.header-wrapper nav .nav-sections .default-content-wrapper > ul > li[aria-expanded='true'] .submenu-wrapper {
    top: auto;
    box-shadow: 0 10px 20px #ccc;
  }

  header.header-wrapper nav .nav-sections .default-content-wrapper > ul > li[aria-expanded='true'] ul {
    gap: unset;
    min-height: auto;
    margin-bottom: 15px;
    width: 100%;
  }
}
