.cms-home .columns-img-col {
    position: relative;
}

.cms-home .columns-img-col a:not(.dropin-design a) {
    color: #fff;
    font-size: 20px;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%);
}

.cms-home .columns-img-col p {
    margin-bottom: 0;
}

.cms-home main > .section:first-of-type .columns > div {
    gap: 0;
    align-items: flex-start;
}

.cms-home main > .section:first-of-type .columns > div .columns-img-col {
    flex-basis: auto;
}

.cms-home main > .section:first-of-type .columns > div .columns-img-col p {
    margin-top: 0;
}

.cms-home main > .section:first-of-type .columns > div .columns-img-col a {
    background-color: #A26A2A;
    bottom: 40px;
    padding: 10px 20px;
    left: 67%;
}

.cms-home main > .section:first-of-type .columns > div .columns-img-col a:hover {
    background-color: #af7839;
    text-decoration: none;
}